<h1>Show page for a Creature</h1>

<div class="row">
  <div class="col-xs-12 col-sm-12">
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @creature.name %></td>
          <td><%= @creature.description %></td>
          <td>
            <%= link_to '', edit_creature_path, :class => "btn btn-success glyphicon glyphicon-pencil" %>
            <%= link_to '', @creature, :method => "delete", :class => "btn btn-danger glyphicon glyphicon-remove" %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-xs-4 col-sm-4">
    <img src="<%=@photos[0].source%>" class="img-responsive" alt="Image">
  </div>
  <div class="col-xs-4 col-sm-4">
    <img src="<%=@photos[1].source%>" class="img-responsive" alt="Image">
  </div>
  <div class="col-xs-4 col-sm-4">
    <img src="<%=@photos[2].source%>" class="img-responsive" alt="Image">
  </div>
</div>
